@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  text-align: center;
}

/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #111; /* Black color */
  border-radius: 10px;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #111 transparent;
}
.scroll-container {
  overflow: auto;
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers */
}

.scroll-container:hover {
  scrollbar-width: thin;
}

.scroll-container:hover::-webkit-scrollbar {
  display: block;
}
